<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salebill">

    <application>
        <activity android:name=".cart.CartActivity"></activity>
        <activity android:name=".comment.CommentActivity" />
    </application>

</manifest>